body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.761);
}

h1 {
    color: white;
}

select {
    font-size: 16px;
    padding: 8px 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s ease;
    appearance: none; 
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23333' viewBox='0 0 24 24'%3E%3Cpath d='M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6z'/%3E%3C/svg%3E"), linear-gradient(to bottom, #fff, #fff); /* Add custom dropdown arrow icon */
    background-position: right 3px top 50%, 0 0;
    background-size: 14px 14px, 100% 100%;
    background-repeat: no-repeat;
}

#gameboard {
    display: grid;
    height: 500px;
    width: 500px;
    background-color: lightgray;
    margin-bottom: 25px;
    grid-template-columns: repeat(3, 1fr);
}

.square {
    background-color: rgba(0, 255, 255, 0);
    border: 1px black solid;
}

button {
    height: 50px;
    width: 120px;
    margin: 30px;
    border: none;
    border-radius: 5px;
}